:root {
    --nblack: #222229;
    --inblack: #181818;
    --butom: #45ba39;
    --txcolor: #979595;
    --wite: #fff;
}

.body-color {
    background-color: var(--nblack);
}
.imig-logo {
    width: 40px;
}
.world-logo {
    width: 40px;
}
.heder-wraper {
    background-color: var(--nblack);
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.6px;
}


.forms {
    
    display: flex;
    
}
/* უზერის და პაროლის ზომების დაყენება */
.form-size, .pas, .user {
    width: 200px;
    height: 40px;
    background-color: rgb(67, 67, 67);
    border-radius: 5px;
    margin-left: 5px;

}
.input-sing {
    
    outline: none;
    border: 1px solid rgb(109, 109, 108);
    color: var(--wite);
    padding: 0 15px;
}
.button-sing {
    width: 100px;
    height: 40px;
    background-color: var(--butom);
    cursor: pointer;
    border-radius: 5px;
    margin-left: 5px;
    border: none;
    color: var(--wite);
}
/* რეგისტრაციის ღილაკი */
.registre {
    width: 150px;
    height: 40px;
    background-color: rgb(92, 91, 91);
    padding: 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 5px;
    color: var(--wite);
}
.registre:hover{
    box-shadow:  1px 1px 3px rgb(120, 119, 118);
}
/* საძიებო სისტება */
.input-search {
    background-color: #474646;
    width: 300px;
    height: 40px;
    border-radius: 5px;
    font-size: 15px;
    background-image: url('..//imag/search.png');
    background-size: 20px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 0 40px;
    color: var(--wite);
}
/* parolis axdgena */
.get-pass {
    color: rgb(144, 41, 41);
    border: none;
    cursor: pointer;
    position: absolute;
    top: 55px;
    right: 30px;
}
.get-pass:hover {
    color: red;
}
/* სანავიგაციო სექტორი */
.nav-wraper {
    background-color: #374646;
    margin-top: 15px;
}
.nav-wraper {
    display: flex;
    align-items: center;
    padding: 0 30px;
    position: relative;
}
.ul-wraper {
    padding: 15px 30px;
    display: flex;
}
.li-clas {
    margin: 0 50px;
}
.a-color {
    color: var(--txcolor);
    transition: all 0.3s linear;
}
/* ბურგერბარის შექმნა */
.burger-wraper {
    width: 30px;
    height: 30px;
    background-color: rgb(217, 212, 212);
    border-radius: 4px;
    position: absolute;
    right: 30px;
    cursor: pointer;
    display: none;
}
.bar1, .bar2, .bar3 {
    position: absolute;
    width: 30px;
    height: 6px;
    background-color: rgb(73, 72, 72);
    border-radius: 4px;
    top: 3px;
    transition: all 0.1s linear;
}
.bar2 {
    top: 12px;
}
.bar3 {
    top:21px;
}
.burger-wraper.active .bar2 {
    display: none;
}
.burger-wraper.active .bar1 {
    top: 45%;
   transform: rotate(45deg);
}
.burger-wraper.active .bar3 {
    top: 45%;
    transform: rotate(-45deg);
}
.ul-wraper.active {
    display: block;
    width: 100%;
    
}
.a-color.active {
    display: none;
}
.ul-wraper.active .li-clas{
  margin-top: 20px
}
.ul-wraper .li-clas .a-color:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(83, 81, 81);
    margin-left: 10px;

}
/* seqcia  . . . . . . . . */

/* სლაიდერი ..................................... */
.slider-wraper-big {
    width: 90%;
    height: 350px;
    background-color: var(--txcolor);
    margin: 15px auto;
}
.slider-wraper-min {
    width: 90%;
    height: 200px;
    background-color: var(--txcolor);
    margin: 15px auto;
} 

/* ფუტერის ნაწილი */

.ul-foter-mani, .futer-child-info, .futer-child-social {
    display: flex;
    border: 0.4px solid #c2bfbf;
    padding: 25px 150px;
    justify-content: space-around;
    color: var(--wite);
    background-color:  #474b4b;
}
.ul-soc-icon {
    display: flex;
}
.fa-brands {
    margin-right: 15px;
    color: var(--wite);
    font-size: 20px;
}
h4 {
    font-size: 10px;
    margin: 10px;
    color: var(--txcolor);
}
.fa-comment-dots {
    color: var(--butom);
    font-size: 30px;
}
.end {
    background-color: var(--nblack);
    color: var(--txcolor);
    padding: 25px;
    text-align: center;
}

/* სარეგისტრაციო ფორმა  */
.header.new-registr, .footer.new-registr{
display: none;
}
.registracia{
    width: 100%;
    height: 100%;
    background-color: #222223;
    position: absolute;
    display: none;
}
.registracia.new-registr {
    display: block;
}

.registtr-form{
    position: relative;
    width: 400px;
    height: auto;
    padding: 10px;
    border: 1px solid rgb(64, 63, 63);
    background-color:#222223;
    margin: 60px auto;
    display: none;
}
.registtr-form.new-registr {
    display: block;
}
.registr-head {
    width: 100%;
    height: 60px;
    background-color: #0f0f11;
    position: fixed;
    top: 0;
    color: var(--wite);
    display: none;
}
.registr-head.new-registr{
    display: block;
}

.sing-click {
    width: 80px;
    height: 40px;
    background-color: var(--butom);
    color: var(--wite);
    text-align: center;
    padding: 12px 0;
    border-radius: 5%;
    position: fixed;
    top: 10px;
    right: 30px;
    cursor: pointer;
   
}
.sing-click1 {
    position: fixed;
    top: 20px;
    right: 130px;
}

/* ფორმის გალამაზება */
.input-size {
    outline: 0;
    width: 380px;
    height: 40px;
    margin-top: 10px;
    padding: 0 15px;
    border-radius: 5px;
    border: none;
    background-color: var(--inblack);
    color: var(--wite);
    font-size: 16px;
}
.input-submit {
    color: var(--wite);
    font-size: 30px;
    background-color: var(--butom);
    cursor: pointer;
}
.sitizen {
    margin-top: 40px;
    width: 250px;
    height: 30px;
    font-size: 16px;
    background-color: var(--inblack);
    color: var(--wite);
    border: none;
    border-radius: 5px;
}
.h2-registr {
    color: var(--wite);
    text-align: center;
}
label{
    color: rgb(119, 115, 115);
}

/*  */
.section_amime {
   
    top: 5px;
    bottom: 10px;
    height: 400px;
    background-image: url('https://jennycasino.com/wp-content/uploads/2020/03/sport_betting.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
.animations {
    position: absolute;
    background-color: #0f9200;
    width: 100%;
    height: 380px;
}

/* დიალოგური ფანჯარა პაროლის აღსადგენად*/

.dialog-input, .dialog-input1 {
    width: 300px;
    height: 40px;
    background-color: var(--nblack);
    border: none;
    border-radius: 5px;
    color: var(--txcolor);
    font-size: 15px;
    padding: 0 15px;
    transition: all 200ms linear;
    outline: none;
}
.dialog-input1 {
    cursor: pointer;
    margin-bottom: 20px;
    font-size: 20px;
}
.dialog-input1:hover {
    background-color: #0f9200;
    font-size: 30px;

}

.modal {
    position: relative;
    background-color: #303030;
    border: none;
    animation: zoom 0.5s forwards;
}
.fa-xmark {
    color: var(--txcolor);
    position: absolute;
    right: 6px;
    top: 6px;
    font-size: 30px;
    cursor: pointer;
    
}
.dialog-input,  .dialog-head {
    margin: 10px 0;
    color: var(--txcolor);
    font-size: 20px;
    text-align: center;
}
/* დიალოგური ბლოკის ანიმაცია */
@keyframes zoom {
    0%{
        transform: scale(0.2);
    }
    50%{
        transform: (1.2);
    }
    100%{
        transform: (1);
    }
}
.js-over {
animation: sab 0.2s linear forwards;
}
@keyframes sab {
    0% {
        background-color: #45ba39;
    }
    100% {
        background-color: #3cd82a;
        box-shadow: 1px 1px 3px #3cd82a;;
    }
}

/* form */
.span-stil {
    color: rgb(204, 122, 122);
    display: block;
}
#password::after {
    content: 'raraca ';
    color: white;
    
}
.befori {
    position: relative;
    margin-bottom: 25px;

    height: 40px;

}
.fa-eye {
    position: absolute;
    top: 50%;
    right: 10px;
    color: rgb(6, 166, 168);
    font-size: 20px;
    cursor: pointer;
}
